header.profile {
  height: 400px;
  width: 100%;
  background-color:rgb(222, 128, 9, 0.8);
  background-image: url('/images/asfalt-light.png');
  background-size: cover;
  text-align: center;
}

header.profile h2 {
  color: white;
}