nav {
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 1;
  background-color: none;
  color: white;
  padding: 1.5em;
}

nav .left {
  font-family: 'Bungee', cursive;
  font-size: 32px;
}

nav .left span {
  display: inline-block;
  vertical-align: middle;
}

nav button {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  transition: opacity, 200ms;
}

nav button:focus {
  outline: none;
}

.fas.fa-angle-double-down {
  display: block;
  opacity: 1;
  color: var(--main-dark-orange);
  animation-name: upDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes upDown {
  0% { opacity: 1; }
  100% { transform: translateY(10px); opacity: 0.8; }
}