.tweet {
  margin: 70px 0px;
  padding: 10px;
  border: 5px solid var(--main-dark-grey);
}

.tweet-text {
  padding: 20px 13px;
  border-bottom: 5px solid var(--main-dark-grey);
  text-align: left;
}

.tweet p {
  margin: 0;
}
.tweet header .left {
  padding: 8px 13px 0 3px;
  font-size: 20px;
}

.left img {
  display: inline-block;
  vertical-align: middle;
}

.left p {
  display: inline-block;
  vertical-align: middle;
}

.tweet header .right {
  padding: 8px 13px 0 13px;
  font-size: 20px;
  color: var(--main-light-grey);
  font-weight: 600;
}

.tweet footer .left, .tweet footer .right {
  padding: 5px 13px 8px 13px;
  font-size: 15px;
}

.tweet footer .right {
  color: var(--main-blue);
}
